<launch>
  <arg name="x_pos" default="00"/>
  <arg name="y_pos" default="1.00"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="model" default="$(find buildon_main)/urdf/olaf.urdf"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model Olaf -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
</launch>